# ===============================
# Frappe & ERPNext Specific
# ===============================
node_modules/
*.swp
*.swo
.DS_Store
*.log
patches.txt.bak

# IDE & Editor Settings
.idea/
.vscode/

# Build assets
omni_clinic/public/dist/
omni_clinic/public/js/*.min.js
omni_clinic/public/css/*.min.css
